body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header {
    transition: background-color 250ms ease;
}

section {
    $space: 8rem;
    &.space {
        padding-block: $space;
    }
    &.space-top {
        padding-top: $space;
    }
    &.space-bottom {
        padding-bottom: $space;
    }
}
