body {
    font-family: 'Poppins', sans-serif;
    // overflow-x: hidden;
    @include media-breakpoint-up(lg) { 
        font-size: 1.25rem;
    }
}

header {
    transition: background-color 250ms ease;
}

main {
    min-height: 100dvh;
}

section {
    $space: 8rem;
    &.space {
        padding-block: $space;
    }
    &.space-top {
        padding-top: $space;
    }
    &.space-bottom {
        padding-bottom: $space;
    }
}
