// vendor/twbs/bootstrap/scss/_variables.scss

$primary: #f18a00;
$link-color-dark: $primary;
$navbar-light-color: #fefefe;
$navbar-light-active-color: $primary;
$navbar-nav-link-padding-x: 1rem;
$gray-900: #131313;
$body-bg-dark: $gray-900;
$headings-margin-bottom: 1.5rem;
$headings-font-weight: 900;
$link-decoration: none;
$form-label-font-size: 0.8rem;
$table-bg: none;
$table-border-width: 0;
$border-radius: 1.25rem;
$border-radius-sm: 1.25rem;
$border-radius-lg: 1.25rem;
$border-radius-xl: 1.25rem;
